audio(loop="loop",id="audio-player",autoplay='')
  source(src=config.streamHost+"/audio/20090530-Birds-Curry-Village.mp3",type="audio/mpeg")
  source(src=config.streamHost+"/audio/20090530-Birds-Curry-Village.ogg",type="audio/ogg")
  source(src=config.streamHost+"/audio/20090525-coyote-point-san-mateo.mp3', type='audio/mpeg")
  source(src=config.streamHost+"/audio/20090525-coyote-point-san-mateo.ogg', type='audio/ogg")
