-if (story) {
  -if (linkTitle) {
    h2
      a(href='/page/' + story.name)
        != story.title
  -} else {
    h1!= story.title
  -}
  p.when!= fn.fromNow(story.dateUpdated||story.dateCreated)
-}

//- This portion provides the powerful
//- Jade Mixin based templating capability.

-if (story && typeof(story.content) !== 'undefined') {
  for item in story.content
    -if (item && typeof(item.type) !== 'undefined') {
      +#{item.type}(item)
    -}
-}