script(src="/js/dist/corelib.js")
script(src="/js/dist/extras-site.js")
script(src="/js/raphael-extensions.js")
script(src="/js/videojs/video.js")
script(src="/js/gb.js")
script(src="/js/gb-templates.js")
script(src="/js/gb-util.js")
script(src="/js/gb-ui.js")
script(src="/js/gb-touch-surface.js")
script(src="/js/gb-lazy-image.js")
script(src="/js/gb-preloadable-image.js")
script(src="/js/gb-tile.js")
script(src="/js/gb-timeout-cycle.js")
script(src="/js/jquery.fullscreen.js")
script(src="/js/jquery.search.js")
script(src="/js/gb-timeline.js")
script(src="/js/gb-fullscreen.js")
script(src="/js/gb-stage.js")
script(src="/js/gb-content-manager.js")
script(src="/js/main.js")