form(id="geocode",class="form-inline",role="form")
  div.form-group
    .dropdown
      button#screen-menu.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='true')
        | Home Screen &nbsp;
        span.caret
      ul#screen-list.dropdown-menu(role='menu', aria-labelledby='screen-menu')
  div.form-group
    input(id="address",type="textbox",class="form-control",placeholder="Address")
    | &nbsp;
    button(class="btn btn-default", id="go")
      span.glyphicon.glyphicon-search
      | &nbsp; Find
  div.form-group
    button(class="btn",data-toggle="collapse",data-target="#notes",aria-expanded="false",aria-controls="collapseNotes")
      span.glyphicon.glyphicon-filter
      | &nbsp; Filter
    | &nbsp;
    button(class="btn",id="center")
      span.glyphicon.glyphicon-globe
      | &nbsp; Locate Me
    | &nbsp;
    button(class="btn",id="add")
      span.glyphicon.glyphicon-screenshot
      | &nbsp; Center
    | &nbsp;
    button(class="btn",id="home")
      span.glyphicon.glyphicon-home
      | &nbsp; Home
    | &nbsp;
    button(class="btn",id="directions")
      span.glyphicon.glyphicon-road
      | &nbsp; Directions