div#ui-toolbar
  a(href="#", id="slideshow-button")
    span.glyphicon.glyphicon-picture
  a(href="#", id="stage-prev")
    span.glyphicon.glyphicon-chevron-left
  a(href="#", id="play-button")
    span.glyphicon.glyphicon-play
  a(href="#", id="stage-next")
    span.glyphicon.glyphicon-chevron-right