
.well
  form(method="post",enctype="multipart/form-data",action="/upload")
    .input-group
      span.input-group-btn
        span.btn.btn-primary.btn-file Browse &hellip;
          input(type="file",name="files",multiple="multiple")
        input.btn(type="submit")
      input.form-control(type="text")


