extends view

block content
  .container.article
    .row
      .col-sm-4
        include ../includes/body
      .col-sm-4
        p This is a sidebar column.
      .col-sm-4
        p This is a sidebar column.

  include ../includes/fb-comments