extends view

block content
  .container.article
    .row
      .col-sm-12
        include ../includes/title
    .row
      .col-sm-8
        include ../includes/body
      .col-sm-4

  include ../includes/fb-comments