!!! 5
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
        meta(name="description",content=config.description)
        meta(name="keywords",content=config.keywords)
        meta(name="author",content=config.author)
        title= typeof(title) !== 'undefined' ? title : "site"
        link(rel="stylesheet",href="/css/external/bootstrap.min.css")
        link(rel="stylesheet",href="/css/external/bootstrap-responsive.min.css")
        link(rel="stylesheet",href="/fonts/open-sans/stylesheet.css")
        link(rel="stylesheet",href="/css/main.css")
        block scripts
            script(src="/js/external/modernizr-2.6.1-respond-1.1.0.min.js")
            script(src="/js/external/jquery-1.9.1.min.js")
            script(src="/js/external/bootstrap.min.js")
            script(src="/js/external/raphael.js")
            script(src="/js/raphgraph.js")
    body(onload="initPage()")
        include ../includes/header