extends ../layout

block append scripts
    script(src=config.mediaHost+"/js/external/raphael.min.js")
    script(src="/js/raphael-extensions.js")
    script(src="/js/util.js")
    script(src="/js/chart.js")

block content
    div#chart