extends view

block content
  #map-container.map-container
  .container.article
    .row
      .col-sm-8
        h1!= map.name

        - if (map.date) {
          p.when!= fn.fromNow(map.date)
        - }

        - if (map.description) {
          .description!= map.description
        - }
      .col-sm-4
        #location-details

  include ../includes/fb-comments

block append last
  script.
      var map = new gb.ui.MapView(window, "map-container", "#{id}");