extends view

block content
  #content
    #map-container.map-container
    .container.article
      .row
        .col-lg-12

block append last
  script.
      var map = new gb.ui.MapView(window, "map-container", "#{map}");