extends ../layout

block content
  #content
    .container.article
      .row
        .col-xs-12
          include ../content/js-demo

block append scripts
  script.
    var socketHost = "#{config.socketHost}",
        username = "#{user.username}";
  script(type="text/javascript",src="/js/sandbox.js",async)
  script(type="text/javascript",src="/socket.io/socket.io.js",async)
  script(type="text/javascript",src="/js/gb-chat-client.js",async)