extends ../layout

block metadata
  -var description = { name: "description", content: (story.description||config.description) };
  +meta(description)
  -var keywords = { name: "keywords", content: (story.keywords||config.keywords) };
  +meta(keywords)
  if (story.title)
    title=story.title
  if (config.facebook.clientId)
    -var og_app_id = { property: "fb:app_id", content:config.facebook.clientId};
    +meta_og(og_app_id)
  -var og_site = { property: "og:site_name", content:config.title};
  +meta_og(og_site)
  -var og_title = { property: "og:title", content:(story.title||config.title)};
  +meta_og(og_title)
  -var og_desc = { property: "og:description", content: (story.description||config.description)};
  +meta_og(og_desc)
  -var og_type = { property: "og:type", content: "article"};
  +meta_og(og_type)
  -var currentUrl = config.host+"/page/"+page;
  -var og_url = { property: "og:url", content: currentUrl};
  +meta_og(og_url)
  -var og_image = { property: "og:image", content: story.image};
  +meta_og(og_image)

block content
  #content
    .container.article
      .row
        .col-sm-12
          include ../includes/title
          include ../includes/body
    include ../includes/fb-comments