extends ../layout
j
block metadata
  -var description = (story && story.description) ? story.description : config.description;
  -var keywords = (story && story.keywords) ? story.keywords : config.keywords;
  -var title = (story && story.title) ? story.title : config.title;
  -var image = (story && story.image) ? story.image : config.defaultBanner;
  -var descriptionObj = { name: "description", content: description };
  +meta(descriptionObj)
  -var keywordsObj = { name: "keywords", content: keywords };
  +meta(keywordsObj)

  title=title

  if (config.facebook.clientId)
    -var og_app_id = { property: "fb:app_id", content:config.facebook.clientId };
    +meta_og(og_app_id)
  -var og_site = { property: "og:site_name", content:config.title };
  +meta_og(og_site)
  -var og_title = { property: "og:title", content:title };
  +meta_og(og_title)
  -var og_desc = { property: "og:description", content:description };
  +meta_og(og_desc)
  -var og_type = { property: "og:type", content:"article" };
  +meta_og(og_type)

  - if (pagePath) {
    -var og_url = { property: "og:url", content:config.host+pagePath };
    +meta_og(og_url)
  - }

  -var og_image = { property: "og:image", content:image };
  +meta_og(og_image)

block content
  #content
    .container.article
      .row
        .col-sm-12
          include ../includes/title
          include ../includes/body
    include ../includes/fb-comments

block prepend scripts
    script(src="//maps.googleapis.com/maps/api/js?key=AIzaSyBrgK46nY9WqGUPRy3S0MFGNMlbEojkN4U")

block append scripts
    script(src="/js/angular/note/map-styles.js")
    script(src="/js/angular/note/map-view.js")
    script(src="/js/angular/note/location-edit.js")