extends ../layout

block content
  div.container
    div.jumbotron
      h1 Track List
      p An AngularJS Demo

  div.container(ng-app="MainApp")
    div.row.track-search
      div(ng-view="")

block append scripts
  script(src="/js/angular/core.js")