extends ../layout
block content
  #content
    .container.article(data-ng-app="site")
      .row
        .col-sm-12
          div(ui-view="")

block append scripts
  script(src="/js/ckeditor/ckeditor.js")
  script(src="/js/angular/pages/app.js")
  script(src="/js/angular/pages/controllers.js")
  script(src="/js/angular/pages/services.js")