extends ../layout

block content
  #content
    .container.article
      .jumbotron
        h1 Track List
        p An AngularJS Demo
    .container(ng-app="MainApp")
      .row.track-search
        div(ng-view="")

block append scripts
  script(src="/js/angular/core.js")