extends ../layout

block content
  #content
    .container(ng-app="MainApp")
      .row
        .col-sm-12
          h1 Track List
          p An AngularJS Demo
      .row.track-search
        div(ng-view="")

block append scripts
  script(src="/js/angular/core.js")