extends ../layout

block content
  .container
    br
    h1 Live Edit
    .row-fluid
      ul(class="nav nav-tabs", id="editTab")
        li(class="active")
          a(href="#pages") Pages
        li
          a(href="#texts") Text Fragments
        li
          a(href="#timeline") Timeline
      div(class="tab-content")
        div(class="tab-pane active",id="pages")
          form(id="page-list-form",class="form-inline")
            table.table#page-list

        div(class="tab-pane",id="texts")
          form(id="text-list-form",class="form-inline")

        div(class="tab-pane",id="timeline")
          form(id="timeline-list-form",class="form-inline")

    script#add-text-template(type="text/template")
      div.well
        input(id="text-name",type="text",class="input-small span3",placeholder="Name")
        &nbsp;
        input(id="text-value",type="text",class="input-small span7",placeholder="Text")
        &nbsp;
        button(type="submit",class="btn add-text-button")
            i.icon-plus-sign
            &nbsp; Add Text

    script#edit-text-template(type="text/template")
      h3 Editing <%= name %>
      textarea(id!="ckeditor-<%= id %>") <%= text %>
      br
      button(type="submit",class="btn save-edit-button",value!="<%= id %>") Save
      &nbsp;
      button(type="submit",class="btn cancel-edit-button") Cancel

    script#list-text-template(type="text/template")
      i(class="icon-pencil")
      &nbsp;
      | <%= name %> &nbsp;
      button(class="btn btn-small edit-text-button",type="button",value!="<%= id %>") Edit
      &nbsp;
      button(class="close delete-text-button",value!="<%= id %>") &times;
      hr
      | <%= text %>

    script#list2-text-template(type="text/template")
      div(class="row-fluid head")
        div(class="span2")
          i(class="icon-pencil")
          &nbsp;
          small <%= name %>
        div(class="span1 offset9")
          button(class="btn btn-small edit-text-button",type="button",value!="<%= id %>") Edit
          &nbsp;
          button(class="close delete-text-button",value!="<%= id %>") &times;
      div(class="row-fluid")
        | <%= text %>

    script#list-page-template(type="text/template")
      td
        i(class="icon-file")
        &nbsp;
        <%= name %>
      td
        <%= title %>
      td
        button(class="btn btn-small edit-page-button",type="button",value!="<%= id %>") Edit
        &nbsp;
        button(class="close delete-page-button",value!="<%= id %>") &times;

    script#edit-page-template(type="text/template")
      td
        i(class="icon-file")
        &nbsp;
        <%= name %>
      td(colspan="2")
        div.well
          fieldset
            p.text-info id: <%= id %>
            label Title
            br
            input(id!="title-<%= id %>",type="text",class="input-small span9",value!="<%= title %>")
            br
            label Description
            br
            input(id!="desc-<%= id %>",type="text",class="input-small span9",value!="<%= description %>")
            br
            label Text Fragments
            br
            select(id!="content-<%= id %>",multiple="multiple",size="10")
              <% _.each(textList, function(item){ %>
              <% if (_.indexOf(content, item._id) != -1 ) { %>
              option(value!="<%= item._id %>",selected) <%= item.name %>
              <% } else { %>
              option(value!="<%= item._id %>") <%= item.name %>
              <% } %>
              <% }); %>
            br
            label Keywords
            br
            input(id!="keywords-<%= id %>",type="text",class="input-small span9",value!="<%= keywords %>")
            br
            button(type="submit",class="btn btn-small save-page-edit",value!="<%= id %>") Save
            &nbsp;
            button(type="submit",class="btn btn-small cancel-page-edit") Cancel

    script#add-page-template(type="text/template")
      tr
        th(colspan="3")
          input(id="page-name",type="text",class="input-small span3",placeholder="Page Name")
          &nbsp;
          input(id="page-title",type="text",class="input-small span7",placeholder="Page Title")
          &nbsp;
          button(type="submit",class="btn add-page-button")
            i.icon-plus-sign
            &nbsp; Add Page
      tr
        th Name
        th Title
        th Action


    script#add-timeline-template(type="text/template")
      div.well
        input(id="timeline-title",type="text",class="input-small span3",placeholder="Title")
        &nbsp;
        input(id="timeline-employer",type="text",class="input-small span7",placeholder="Employer")
        &nbsp;
        button(type="submit",class="btn add-timeline-button")
            i.icon-plus-sign
            &nbsp; Add

    script#edit-timeline-template(type="text/template")
      h3 Editing <%= title %>
      textarea(id!="ckeditor-<%= id %>") <%= body %>
      br
      button(type="submit",class="btn save-edit-button",value!="<%= id %>") Save
      &nbsp;
      button(type="submit",class="btn cancel-edit-button") Cancel

    script#list-timeline-template(type="text/template")
      div(class="row-fluid head")
        div(class="span2")
          i(class="icon-pencil")
          &nbsp;
          small <%= title %>
        div(class="span1 offset9")
          button(class="btn btn-small edit-timeline-button",type="button",value!="<%= id %>") Edit
          &nbsp;
          button(class="close delete-timeline-button",value!="<%= id %>") &times;
      div(class="row-fluid")
        | <%= body %>

block append scripts
  script(src=config.mediaHost+"/js/external/underscore.js")
  script(src=config.mediaHost+"/js/external/backbone.js")
  script(src=config.mediaHost+"/js/external/ckeditor-standard/ckeditor.js")
  script(src="/js/backbone/textcontent.js")
  script(src="/js/backbone/timeline-edit.js")
  script(src="/js/backbone/pages.js")
  script(src="/js/backbone/live.js")