extends ../layout

block append css
  link(rel="stylesheet",href="/css/monitor.css")

block content
  div.row
    div#grid

block append scripts
  script.
    var socketHost = "#{server}";
  script(type="text/javascript", src="/socket.io/socket.io.js")

