extends ../layout
block append scripts
  script(src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.js")
  script(src="/js/d3-demo.js")
block append css
  link(rel="stylesheet",href="/css/d3.css")
block content
  .container.article
    #viewport
block footer