extends ../layout
block append css
  link(rel="stylesheet",href="/css/map.css")
block content
  #content
    #map-canvas
    .container.article
      .row
        ul.list-group#current

block append scripts
  script(src="/js/ckeditor/ckeditor.js")
  script(src="//maps.googleapis.com/maps/api/js?key=AIzaSyBrgK46nY9WqGUPRy3S0MFGNMlbEojkN4U&sensor=false")
  script(src="/js/gb-ui-mapconfig.js")
  script(src="/js/map-resolver.js")
