extends ../layout

block content
  #content
    #stage

  include ksuayan
  include ../includes/toolbar

block append scripts
  img(src=config.mediaHost+"/images/image-001.jpg",id="background",class="bgheight",alt="")
  script(src=config.mediaHost+"/js/external/raphael-extensions.js")
