extends ../layout

block content
    div#stage
    include ksuayan
    include ../includes/audio

block append scripts
  include ../includes/toolbar
  img(src=config.mediaHost+"/images/image-001.jpg",id="background",class="bgheight",alt="")
  script(src=config.mediaHost+"/js/external/raphael-extensions.js")
