extends ../layout

block content
  #content
    #stage
      a(href="#", id="stage-prev")
        span.glyphicon.glyphicon-chevron-left
      a(href="#", id="stage-next")
        span.glyphicon.glyphicon-chevron-right
      a(href="#", id="play-button")
        span.glyphicon.glyphicon-pause
    .row
      #stream.col-lg-12
    .container
      .row
        include ../includes/body