h1 JavaScript Sandbox

ul
  li
    a(href="/members/angular-pages",target="_blank") Angular Pages Demo
  li
    a(href="/members/note#/maps",target="_blank") Maps (Angular services)
    | &nbsp; | &nbsp;
    a(href="/members/note#/home",target="_blank") Locations List
  li
    a(href="/members/chat",target="_blank") Chat (socket.io)
  li
    a(href="/members/angular-demo",target="_blank") Angular Tracks Demo
  li
    a(href="/members/search",target="_blank") Search Demo
  li
    a(href="/members/readability",target="_blank") Flesch-Kincaid Readability Analysis
  li
    a(href="/members/graph",target="_blank") RaphaelJS Bar Chart
    | &nbsp; | &nbsp;
    a(href="/members/hgraph",target="_blank") Horizontal
  li
    a(href="/members/canvas",target="_blank") HTML5 Canvas
  li
    a(href="/members/transit",target="_blank") Transit.js
  li
    a(href="/members/d3",target="_blank") D3.js
  li Full Size Video: &nbsp;
    a(href="/members/video",target="_blank") HTML5
    | &nbsp; | &nbsp;
    a(href="/members/vimeo",target="_blank") Vimeo
    | &nbsp; | &nbsp;
    a(href="/members/videojs-s3",target="_blank") VideoJS from S3
  li
    a(href="/members/videojs-mp3",target="_blank") Pisay90 MixTapes: (video.js MP3 on S3)
  li
    a(href="/members/map-edit",target="_blank") Map Edit (deprecated)
include ../includes/upload
