h1 JavaScript Sandbox

ul
  li
    a(href="/members/chat",target="_blank") Chat (socket.io)
  li
    a(href="/members/search",target="_blank") Search Demo
  li
    a(href="/members/map-edit",target="_blank") Map Edit
  // li
  //    a(href="/members/backbone",target="_blank") BackboneJS Demo
  li
    a(href="/members/angular-demo",target="_blank") Angular Tracks Demo
  li
    a(href="/members/angular-pages",target="_blank") Angular Pages Demo
  li
    a(href="/members/readability",target="_blank") Flesch-Kincaid Readability Analysis
  li
    a(href="/members/graph",target="_blank") RaphaelJS Chart
  li
    a(href="/members/canvas",target="_blank") HTML5 Canvas
  li
    a(href="/members/transit",target="_blank") Transit.js
  li
    a(href="/members/d3",target="_blank") D3.js
  li
    a(href="/members/video",target="_blank") Full Size HTML5 Video
  li
    a(href="/members/vimeo",target="_blank") Full Size Vimeo
  li
    a(href="/members/videojs-s3",target="_blank") video.js from S3
  li
    a(href="/members/videojs-rtmp",target="_blank") video.js RTMP (experimental)
  li
    a(href="/members/videojs-mp3",target="_blank") Pisay90 MixTapes: (video.js MP3 on S3)

include ../includes/upload
