extends ../layout

block content
  div.container
    h1 JavaScript Sandbox
    ul
      li
        a(href="/content/paris") Google Maps (Paris)
      li
        a(href="/content/backbone") BackboneJS Demo
      li
        a(href="/content/graph") RaphaelJS Chart
      li
        a(href="/content/canvas") HTML5 Canvas
      li
        a(href="/content/video") Full Screen Video
      li
        a(href="/content/vimeo") Vimeo
      li
        a(href="/content/angular-demo") Angular Demo
      li
        a(href="/content/transit") Transit JS
      li
        a(href="/content/search") Search