img(src=config.mediaHost+"/images/image-001.jpg",id="bg-front",class="bgheight",alt="")
audio(autoplay="autoplay",loop="loop",id="audio-player")
    source(src=config.mediaHost+"/audio/20090530-Birds-Curry-Village.mp3",type="audio/mpeg")
    source(src=config.mediaHost+"/audio/20090530-Birds-Curry-Village.ogg",type="audio/ogg")
div#timeline.hero-unit.row
    h1 Kyo Suayan: Design + Development
    p
        | Nineteen years of web application development experience (Waterfall &amp; Agile)
        | with various technology stacks. Strong visual design sense complimented by
        | good understanding of Accessibility,
        | Usability and Branding issues in a high traffic website.
        | Motivated by technical challenges and enjoys contributing in a team environment.