include ../includes/mixins

.container
  // .row.hero-unit
    p
      | Nineteen years of web application development experience (Waterfall &amp; Agile)
      | with various technology stacks. Strong visual design sense complimented by
      | good understanding of Accessibility,
      | Usability and Branding issues in a high traffic website.
      | Motivated by technical challenges and enjoys contributing in a team environment.

  // .row.multicol
    +mod("leftBody", content, "leftHeader", "leftBody")
    +mod("centerBody", content, "centerHeader", "centerBody")
    +mod("rightBody", content, "rightHeader", "rightBody")

  .row.social
    #stream.col-lg-12