extends ../layout

block content
  .container.aux-area
      .row
        .col-xs-12.col-sm-4
          form(action='/login', method='post')
            .well
              p.lead Login
              .form-group
                label(for="username", class="control-label") Username
                input(name="username", type="text", class="form-control", maxlength="20")
              .form-group
                label(for="password", class="control-label") Password
                input(name="password", type="password", class="form-control", maxlength="15")
              button(type='submit', class="btn btn-info") Login
              | &nbsp;
              a(href='/signup', class="btn btn-default") Signup
              br
              br
              if (!user)
                p
                  a(class="btn btn-default",href="/auth/facebook") Sign In via Facebook
                p
                  a(class="btn btn-default",href="/auth/google") Sign In via Google
                p
                  a(class="btn btn-default",href="/auth/twitter") Sign In via Twitter
                p
                  a(class="btn btn-default",href="/auth/linkedin") Sign In via LinkedIn
        .col-xs-12.col-sm-8
          h1 Hello!
          p.
            You've found our login page. You can create a standalone account and
            sign up or you can attach one of our supported social network logins.
