extends ../layout

block append css
  link(rel="stylesheet",href="/css/map.css")

block content
  #content
    #map-canvas
    .container
      .row
        .col-lg-12
          include ../includes/map-toolbar
        .col-lg-12
          #notes.collapse
      .row
        .col-lg-12
          #message.well.well-sm
      .row
        .col-sm-7
          #screen(data-ng-app="app",ui-view="")
        .col-sm-5
          #info

block append scripts
  script(src="/js/ckeditor/ckeditor.js")
  script(src="//maps.googleapis.com/maps/api/js?key=AIzaSyBrgK46nY9WqGUPRy3S0MFGNMlbEojkN4U&sensor=false")
  script(src="/js/gb-ui-mapconfig.js")
  script(src="/js/gb-map-edit.js")
  script(src="/js/angular/locations/app.js")
  script(src="/js/angular/locations/controllers.js")
  script(src="/js/angular/locations/services.js")