extends ../layout

block append css
  link(rel="stylesheet",href="/css/map.css")

block content
  div#map-canvas
  div.container
    div.row
      div.col-lg-12
        include ../includes/map-toolbar
      div.col-lg-12
        div#notes(class="collapse")
    div.row
      div.col-lg-12
        div#message.well.well-sm
    div.row
      div.col-sm-7
        div#screen(data-ng-app="app",ui-view="")
      div.col-sm-5
        div#info

block append scripts
  script(src="/js/ckeditor/ckeditor.js")
  script(src="//maps.googleapis.com/maps/api/js?key=AIzaSyBrgK46nY9WqGUPRy3S0MFGNMlbEojkN4U&sensor=false")
  script(src="/js/gb-ui-mapconfig.js")
  script(src="/js/gb-map-edit.js")
  script(src="/js/angular/locations/app.js")
  script(src="/js/angular/locations/controllers.js")
  script(src="/js/angular/locations/services.js")