extends ../layout

block content
  #content
    .container.article
      .row
        .col-lg-12
          #screen(data-ng-app="app",ui-view="")

block append scripts
  script(src="//maps.googleapis.com/maps/api/js?key=AIzaSyBrgK46nY9WqGUPRy3S0MFGNMlbEojkN4U")
  script(src="/js/angular/note/app.js")
  script(src="/js/angular/note/controllers.js")
  script(src="/js/angular/note/services.js")
  script(src="/js/angular/note/map-styles.js")
  script(src="/js/angular/note/map-edit.js")