extends ../layout

block append css
  link(rel="stylesheet",href="/css/map.css")

block content
  div.row
    div.col-md-4
      div#panel
        form(id="geocode",class="form-inline",role="form")
          input(id="address",type="textbox",class="form-control input-sm",placeholder="Address")
          &nbsp;
          input(id="go",type="button",class="btn btn-sm btn-default",value="Go")
    div.col-md-8
      div#notes
  div.row
    div.col-lg-12
      div#map-canvas

block append scripts
  script(src="//maps.googleapis.com/maps/api/js?key=AIzaSyBrgK46nY9WqGUPRy3S0MFGNMlbEojkN4U&sensor=false")
  script(src="/js/map-paris.js")
