extends ../layout

block content
  #content
    .container
      .row
        .col-xs-12
          H1 Saved
          .alert.alert-success Your profile was saved. &nbsp;
            a(href="/members") Join the conversation.
