extends ../layout

block append css
  link(rel="stylesheet",href="/css/transit.css")

block content
  div.row
    div(class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12")
      div.banner
        p This is a test.

block append scripts
  script(src="/js/transit.js")