extends ../layout

block append css
  link(rel="stylesheet",href="/css/transit.css")

block content
  .row
    .col-xs-12
      .banner
        p This is a test.

block append scripts
  script(src="/js/transit.js")