extends ../layout
block content
  #content
    .container
      .row
        .col-xs-12
          H1 Uploaded
          .alert.alert-success Your files were uploaded.
            each file in okFiles
              ul
                li= file.originalname
                li= file.mimetype
                li= file.size