extends ../layout

block append css
  link(rel="stylesheet",href="/css/video.css")

block append scripts
  script(src="/js/video.js")

block footer

block content
  .row
    .col-lg-12
        video(autoplay="autoplay", loop="loop", poster=config.mediaHost+"/images/image-026.jpg",id="bgvid")
          source(src="https://s3.amazonaws.com/stream.suayan.com/video/fog.mp4", type="video/mp4")



