extends ../layout

block append css
  link(href="/css/video.css",rel="stylesheet")
  link(href="/js/videojs/video-js.min.css",rel="stylesheet")

block append scripts
  script(src="/js/videojs/video.min.js")

block footer

block content
  .row
    .col-lg-12
      video(id="bgvid",class="video-js vjs-default-skin vjs-big-play-centered",controls="controls",preload="auto",poster=config.mediaHost+"/images/image-026.jpg",data-setup='{"example_option":true}')
        source(src="rtmp://stream.suayan.com/cfx/st&mp4:video/sm-farmers-market-apple-1080p.mp4",type="rtmp/mp4")