extends ../layout

block append css
  link(href="/css/video.css",rel="stylesheet")
  link(href="/js/videojs/video-js.min.css",rel="stylesheet")

block append scripts
  script(src="/js/videojs/video.min.js")

block footer

block content
  .row
    .col-lg-12
      video(id="bgvid-blank",class="video-js vjs-default-skin vjs-big-play-centered",controls="controls",preload="auto",poster=config.mediaHost+"/images/bay-bridge.jpg",data-setup='{"example_option":true}')
        source(src="https://s3.amazonaws.com/stream.suayan.com/video/BSCS-Career.mp4", type="video/mp4")