extends ../layout


block content
  .container
    .row
      #search-container
        #search-input-wrapper
          input(id="prediction",type="text",disabled="disabled")
          input(id="term",type="text",maxlength="100",placeholder="i want to...")



block append scripts
  script(src="/js/auto.js")

block append css
  link(rel="stylesheet",href="/css/auto.css")