<div class="message-header">
    <span class="glyphicon glyphicon-time"></span>
    <span>{{ts}}</span>
    <span class="glyphicon glyphicon-user"></span>
    <strong>{{username}}:</strong>
    <div class="message">{{message}}</div>
</div>
