<div class="media">
    <span class="label label-primary">Instagram</span>
    <span class="when">{{ago}}</span>

    <h2>{{body}}</h2>
    <a href="{{url}}" target="_blank">
        <img src="{{pictures.standard_resolution.url}}" class="instagram"/>
    </a>
</div>