<div class="media">
    <div class="caption">
        <div class="vimeo">{{{body}}}</div>
        <span class="label label-primary">Vimeo</span>
        <span class="when">{{ago}}</span>
    </div>
</div>
