@import (reference) "global.less";

.background-fullsize {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

.rich-text {
  width: 100%;
  clear: both;
  display: block;
}

.video-container {
  clear: both;
  margin-top: @vertical-gutter;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  background-color: @color-faint-gray;
}

.video-container iframe,
.video-container object,
.video-container embed,
.video-container .video-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.audio-player {
  font-family: @basefont;
  font-weight: @basefont-weight-semibold;
  color: @color-medium-gray;
  float: left;
  width: 220px;
  height: 250px;
  margin-bottom: 10px;
  .media-heading {
    width: 200px;
    padding-right: 10px;
    font-family: @basefont;
    font-weight: @basefont-weight-semibold;
    font-size: @basefont-size-small;
  }
}

.album-cover.video-js {
  width: 200px;
  height: 200px;
  .vjs-big-play-button {
    width: 45px;
    height: 45px;
  }
}

.download-link {
  display: inline-block;
  margin-top: @vertical-gutter;
  .fa {
    font-size: 140%;
    margin: 5px 0;
  }
}

.media-caption {
  vertical-align: text-top;
  display: inline-block;
  padding: 13px 0 0 10px;
  color: @color-medium-gray;
  font-family: @basefont;
  font-size: @textfont-size-small;
}
