@import (reference) '../../bower_components/bootstrap/less/bootstrap';
@import (reference) "global.less";

/* CONTENT */
#content {
  background-color: #fff;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 50px;
  .row {
    margin: 0;
  }

  #screen {
    .well p {
      margin: 0;
    }
  }

  .container.article {
    padding: 20px 0 50px 0;
    font-family: @textfont;
    font-size: @textfont-size-normal;
    @media (max-width: @screen-md-min) {
      padding: 10px 10px 50px 10px;
    }
    p {
      margin: 0;
    }
    p + p, .video-container + p, .alert, p + .map-widget {
      margin-top: @vertical-gutter;
    }
  }
  .story {
    padding-top: 10px;
    h2 a {
      &:hover {
        text-decoration: none;
      }
    }
    font-family: @textfont;
    font-size: @textfont-size-normal;
  }
  .story-image {
    margin: 30px 0 20px 0;
    max-width: 100%;
  }
  // List Styles for Content Only.
  ul li {
    list-style: disc;
  }

  .btn, .control-label, .form-control, .label {
    font-family: @basefont;
    font-weight: @basefont-weight-regular;
  }

}

.story, .article {
  h1, h2, h3, h4, h5, h6 {
    line-height: @basefont-line-height;
    margin-top: 10px;
    font-size: @basefont-size-medium;
  }
}

.aux-area {
  padding-top: @aux-gutter;
}