@media screen and (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
/* CONTENT */
#content {
  background-color: #fff;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 50px;
}
#content .row {
  margin: 0;
}
#content #stage-prev {
  top: 210px;
  left: 10px;
}
#content #stage-next {
  top: 210px;
  right: 10px;
}
#content #play-button {
  bottom: 10px;
  right: 10px;
}
@media (max-width: 991px) {
  #content #stage-prev,
  #content #stage-next {
    top: 150px;
  }
}
#content #stage-prev,
#content #stage-next,
#content #play-button {
  display: block;
  position: absolute;
  padding: 7px 10px;
  width: 50px;
  height: 50px;
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.05);
  z-index: 100;
  font-size: 30px;
}
#content #stage-prev a,
#content #stage-next a,
#content #play-button a,
#content #stage-prev a:visited,
#content #stage-next a:visited,
#content #play-button a:visited {
  text-decoration: none;
  z-index: 90;
}
#content #stage-prev:hover,
#content #stage-next:hover,
#content #play-button:hover {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
}
#content #stage {
  width: 100%;
  height: 560px;
  position: relative;
  overflow: hidden;
  background-color: #212121;
}
#content #stage #stage-content {
  position: absolute;
}
#content #stage #stage-content .tile {
  display: block;
  position: absolute;
  opacity: 1;
  font-size: 22px;
  line-height: 120%;
}
#content #stage #stage-content .tile h2,
#content #stage #stage-content .tile h3,
#content #stage #stage-content .tile p,
#content #stage #stage-content .tile li {
  color: #fff;
  margin: 0px;
  padding: 0px 70px 0 70px;
}
#content #stage #stage-content .tile .indent {
  padding: 10px 70px 0 70px;
}
#content #stage #stage-content .tile h2 {
  padding: 30px 70px 10px 70px;
  font-size: 36px;
  line-height: 110%;
}
#content #stage #stage-content .tile h3 {
  padding: 0px 70px 30px 70px;
  line-height: 110%;
}
@media (max-width: 991px) {
  #content #stage {
    height: 400px;
  }
}
@media (max-width: 767px) {
  #content #stage {
    display: none;
  }
}
#content #screen .well p {
  margin: 0;
}
#content .container.article {
  padding: 20px 0 0 0;
}
@media (max-width: 992px) {
  #content .container.article {
    padding: 18px;
  }
}
#content .container.article p {
  margin: 0;
}
#content .container.article p + p {
  margin-top: 20px;
}
#content .stories {
  padding-bottom: 50px;
}
#content .story {
  padding-top: 30px;
}
#content .story h2 a:hover {
  text-decoration: none;
}
#content .story-image {
  max-width: 100%;
}
#content ul li {
  list-style: disc;
}
