@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,600');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i');
@media screen and (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
html,
html a {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
html {
  background-color: #333b45;
}
body {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  width: 100%;
  font-family: "Crimson Text", Georgia, serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: -0.5px;
  background-color: transparent;
  padding-bottom: 100px;
}
@media (max-width: 991px) {
  body .container {
    padding: 10px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #333;
  margin: 0;
}
h1 mark,
h2 mark,
h3 mark,
h4 mark,
h5 mark,
h6 mark {
  padding: 0;
  margin: 0;
}
h1 mark i,
h2 mark i,
h3 mark i,
h4 mark i,
h5 mark i,
h6 mark i {
  font-weight: 200;
  font-style: normal;
  color: #fff;
  background-color: #999;
  margin: 0;
  padding: 3px 6px;
  letter-spacing: 3px;
}
th {
  background-color: #efefef;
}
/* FORMS */
textarea {
  resize: vertical;
}
input.form-control,
textarea.form-control {
  font-size: 22px;
}
blockquote {
  font-size: 30px;
  line-height: 130%;
  padding: 20px 20px 20px 30px;
  border-left-color: #efefef;
  border-left-style: solid;
  border-left-width: 5px;
  background-color: #f7f7f7;
}
ul,
ol {
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 10px;
  display: table;
}
li {
  margin-left: 20px;
  padding-left: 0;
  line-height: 120%;
}
ul li {
  list-style: none;
}
ul li::before {
  content: "\e080";
  font-family: 'Glyphicons Halflings';
  font-size: 12px;
  float: left;
  margin-top: 2px;
  margin-left: -17px;
  color: #666;
}
