@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,600);
@import (reference) '../../bower_components/bootstrap/less/bootstrap';

@basefont: "Source Sans Pro", Helvetica, Arial, sans-serif;
@basefont-small: 18px;
@basefont-size: 22px;

@font-weight-light: 200;
@font-weight-normal: 300;
@font-weight-bold: 600;
