@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,600);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700);
@media screen and (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
html,
html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
html {
  background-color: #294860;
}
body {
  overflow-x: hidden;
  width: 100%;
  font-family: "PT Serif", Georgia, serif;
  font-size: 20px;
  font-weight: 300;
  background-color: transparent;
  padding-bottom: 100px;
}
@media (max-width: 991px) {
  body .container {
    padding: 10px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #333;
  margin: 0px;
  padding: 20px 0px 10px 0px;
  line-height: 120%;
}
h1 mark,
h2 mark,
h3 mark,
h4 mark,
h5 mark,
h6 mark {
  padding: 0px;
  margin: 0px;
}
h1 mark i,
h2 mark i,
h3 mark i,
h4 mark i,
h5 mark i,
h6 mark i {
  font-weight: 200;
  font-style: normal;
  color: #fff;
  background-color: #999;
  margin: 0px;
  padding: 3px 6px;
  letter-spacing: 3px;
}
th {
  background-color: #efefef;
}
ul {
  margin-left: 0px;
  padding-left: 0px;
}
ul li {
  margin-left: 0px;
  padding-left: 0px;
  list-style-position: inside;
}
/* FORMS */
textarea {
  resize: vertical;
}
input.form-control,
textarea.form-control {
  font-size: 20px;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
  color: #333;
}
.hero-unit {
  padding: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}
.hero-unit h1,
.hero-unit p {
  margin: 15px;
  line-height: 120%;
}
.jumbotron {
  margin: 0px 0px 20px 0px;
}
@media (max-width: 991px) {
  .hero-unit {
    height: auto;
    padding-bottom: 10px;
  }
  .jumbotron {
    padding: 5px 10px 5px 10px;
  }
}
.row.multicol .mod:first-child {
  margin: 2px 0px 0px 0px;
}
.row.multicol .mod {
  padding: 5px 10px;
  margin: 2px 0px 0px 2px;
}
.row.multicol .trans {
  background-color: rgba(0, 0, 0, 0.85);
  padding-bottom: 20px;
}
.row.multicol .trans h2,
.row.multicol .trans p,
.row.multicol .trans ul {
  margin: 5px;
  color: #fff;
}
.row.multicol .trans p,
.row.multicol .trans ul {
  padding-bottom: 10px;
}
@media (max-width: 992px) {
  .row.multicol .mod,
  .row.multicol .mod:first-child {
    margin: 2px 0px 0px 0px;
  }
}
@media (min-width: 992px+1) {
  .row.multicol .mod,
  .row.multicol .mod:first-child {
    margin: 0px;
    min-height: 500px;
    float: left;
  }
  .row.multicol .mod {
    width: 33%;
  }
  .row.multicol .mod:first-child {
    width: 34%;
  }
}
#chart {
  margin: 40px auto 30px auto;
  width: 1002px;
  height: 802px;
}
#hchart {
  margin: 40px auto 30px auto;
  width: 1002px;
  height: 522px;
}
.sidebar-nav {
  padding: 9px 0;
}
.clear {
  clear: both;
}
.textListWindow {
  margin-top: 20px;
  overflow: auto;
  height: 300px;
}
.edit-background {
  padding: 15px;
  background-color: #efefef;
}
html#slideshow {
  background-color: #000;
}
#spinner {
  display: none;
  margin: 10px 0px 10px 0px;
}
#background {
  padding: 0px;
  margin: 0px;
  position: fixed;
  bottom: -3px;
  left: 0;
  z-index: -1;
}
.bgheight {
  height: 100%;
  width: auto;
  max-width: none;
}
.bgwidth {
  width: 100%;
  height: auto;
  max-height: none;
}
.footer {
  font-size: 16px;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  padding: 20px 0px 20px 0px;
  background-color: #202020;
  color: #999;
}
/* NAVIGATION */
.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
}
.navbar.navbar-inverse.navbar-fixed-top {
  margin: 0px;
}
.navbar-brand,
.navbar-nav,
.dropdown-menu {
  font-size: 18px;
  font-weight: 300;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}
.navbar-brand {
  font-weight: 600;
}
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand {
  color: #ccc;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-brand:hover {
  color: #fff;
}
#stream {
  background-color: #333333;
  padding: 0px;
}
@media only screen and (min-width: 767px) {
  #stream {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-basis: auto;
  }
}
#stream .media {
  width: 100%;
  padding: 0px;
  background-color: #fff;
  margin: 2px 0px 0px 0px;
  /*
        @media only screen and (max-width: @screen-xs-max) and (orientation:landscape) {
            background-color: #ff0000;
            display: block;
        }
        */
}
@media only screen and (min-width: 767px) {
  #stream .media {
    margin: 0px 0px 2px 2px;
    width: 24.5%;
  }
}
#stream .media .instagram {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
#stream .media .caption {
  padding: 25px 15px 20px 15px;
}
#stream .media .caption h2 {
  font-size: 18px;
  line-height: 120%;
  padding-top: 10px;
  padding-bottom: 10px;
}
#stream .media .caption h2 a,
#stream .media .caption h2 a:hover {
  text-decoration: none;
}
#stream .media .caption .vimeo {
  margin-top: 20px;
}
#stream .media a,
#stream .media a:hover {
  text-decoration: none;
}
.when {
  font-size: 16px;
  color: #999;
  margin-left: 10px;
  margin-right: 5px;
}
.handle {
  font-size: 16px;
}
.permalink,
.permalink:hover {
  clear: both;
  display: block;
  font-size: 16px;
  text-decoration: none;
}
/* CONTENT */
#content {
  background-color: #fff;
  margin-top: 0px;
  padding-top: 0px;
}
#content .row {
  margin: 0px;
}
#content #stage-prev {
  top: 210px;
  left: 10px;
}
#content #stage-next {
  top: 210px;
  right: 10px;
}
#content #play-button {
  bottom: 10px;
  right: 10px;
}
@media (max-width: 991px) {
  #content #stage-prev,
  #content #stage-next {
    top: 150px;
  }
}
#content #stage-prev,
#content #stage-next,
#content #play-button {
  display: block;
  position: absolute;
  padding: 7px 10px;
  width: 50px;
  height: 50px;
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.05);
  z-index: 100;
  font-size: 30px;
}
#content #stage-prev a,
#content #stage-next a,
#content #play-button a,
#content #stage-prev a:visited,
#content #stage-next a:visited,
#content #play-button a:visited {
  text-decoration: none;
  z-index: 90;
}
#content #stage-prev:hover,
#content #stage-next:hover,
#content #play-button:hover {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
}
#content #stage {
  width: 100%;
  height: 560px;
  position: relative;
  overflow: hidden;
  background-color: #212121;
}
#content #stage #stage-content {
  position: absolute;
}
#content #stage #stage-content .tile {
  display: block;
  position: absolute;
  opacity: 1;
}
#content #stage #stage-content .tile h2,
#content #stage #stage-content .tile h3,
#content #stage #stage-content .tile p,
#content #stage #stage-content .tile li {
  color: #fff;
  margin: 0px;
  padding: 0px 70px 0 70px;
}
#content #stage #stage-content .tile .indent {
  padding: 10px 70px 0 70px;
}
#content #stage #stage-content .tile h2 {
  padding: 30px 70px 10px 70px;
  font-size: 36px;
  line-height: 110%;
}
#content #stage #stage-content .tile h3 {
  padding: 0px 70px 30px 70px;
  line-height: 110%;
}
@media (max-width: 991px) {
  #content #stage #stage-content .tile p {
    font-size: 16px;
  }
}
@media (max-width: 991px) {
  #content #stage {
    height: 400px;
  }
}
@media (max-width: 767px) {
  #content #stage {
    display: none;
  }
}
#content #screen .well p {
  margin: 0px;
}
#content .container.article {
  padding: 20px 0px 30px 0px;
}
@media (max-width: 768px) {
  #content .container.article {
    font-size: 18px;
  }
}
@media (max-width: 992px) {
  #content .container.article {
    padding: 18px;
  }
}
#content .container.article p {
  margin-bottom: 20px;
}
