@import (reference) '../../bower_components/bootstrap/less/bootstrap';
@import "global.less";

html {
    background-color: #000;
}

body {
    font-family: @basefont;
    font-size: 13pt;
    font-weight: 400;
    background-color: transparent;
    padding-top: 60px;
    padding-bottom: 100px;
    @media (max-width: (@screen-sm-max)) {
        .container {
            padding: 5px;
        }
    }
}

.dropdown-menu {
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: @basefont;
    font-weight: 600;
    font-size: 18pt;
    color: #333;
    margin: 0px;
    padding: 0px;
    line-height: 160%;

   mark {
     padding: 0px;
     margin: 0px;
     i {
       font-weight: 200;
       font-style: normal;
       color: #fff;
       background-color: #999;
       margin: 0px;
       padding: 3px 6px;
       letter-spacing: 3px;
     }
   }
}

th {
    background-color: #efefef;
}

ul {
    margin-left: 0px;
    padding-left: 0px;
    li {
        list-style-position: inside;
    }
}

.list-group-item {
    padding: 20px 15px;
}

.hero-unit {
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.75);
    h1, p {
        margin: 15px;
        line-height: 120%;
    }
    h1 {
        font-size: 18pt;
    }
    p {
        font-size: 12pt;
    }
}

// Small and Below
@media (max-width: (@screen-sm-max)) {
    .hero-unit {
        height: auto;
        padding-bottom: 10px;
    }
    .jumbotron {
      padding: 5px;
    }
}


.row.multicol {
    /*
    margin-left: 0px;
    margin-right: 0px;
    */
    .mod:first-child {
        margin: 2px 0px 0px 0px;
    }
    .mod {
        padding: 5px 10px;
        margin: 2px 0px 0px 2px;
    }
    .trans {
        background-color: rgba(0,0,0,0.85);
        padding-bottom: 20px;
        h2, p, ul {
            margin: 5px;
            color: #fff;
        }

        p, ul {
            font-weight: 300;
            font-size: 12pt;
            padding-bottom: 10px;
        }
    }
}



// Large and Below
@media (max-width: (@screen-md-min)) {
    .row.multicol {
        .mod, .mod:first-child {
            margin: 2px 0px 0px 0px;
        }
    }
}

// Medium Layouts and up.
@media (min-width: (@screen-md-min+1)) {
    .row.multicol {
        .mod,.mod:first-child {
            margin: 0px;
            min-height: 400px;
            float: left;
        }
        .mod { width: 33%; }
        .mod:first-child { width:34%; }
    }
}

// Large Layouts and up
@media (min-width: (@screen-lg-min+1)) {
    .row.multicol {
        .mod,.mod:first-child {
            min-height: 400px;
        }
    }
}

#vimeo {
  background-color: #efefef;
  padding: 20px;
}

#twitter {
  background-color: #efefef;
  padding: 15px;
  height: auto;
  overflow-y: visible;

  .media {
    margin-top: 0px;
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    &:first-child {
      padding-top: 0px;
    }
    .media-left {
      width: 48px;
      float: left;
      display: block;
      margin-right: 10px;
    }
    .media-body {
      display: block;
      float: left;
      width: 80%;
      line-height: 120%;
    }
  }
}

.when {
  font-size: 16px;
  color: #ccc;
  display: block;
  margin-top: 5px;
  clear: both;
}

.permalink, .permalink:hover {
  clear: both;
  display: block;
  font-size: 16px;
  text-decoration: none;
  margin-top: 10px;
}


#content {

    background-color: #fff;
    margin-top: 0px;
    padding-top: 10px;
    .navbar.navbar-inverse.navbar-fixed-top {
        margin: 0px;
    }

    #stage {
        width: 100%;
        height: 400px;
        @media (max-width: @screen-md-max) {
          height: 400px;
        }
        @media (max-width: @screen-sm-max) {
          height: 300px;
        }
        @media (max-width: @screen-xs-max) {
          display: none;
        }
        top: -5px;
        position: relative;
        overflow: hidden;
        margin-bottom: 20px;
        #stage-content {
            position: absolute;
            .tile {
                display: block;
                position: absolute;
                opacity: 1;
                h2,h3,p,li {
                    color: #fff;
                    font-weight: 300;
                    margin: 0px;
                    padding: 0px 30px 0 30px;
                }
                .indent {
                    padding: 10px 30px 0 30px;
                }
                h2 {
                    padding: 30px 30px 10px 30px;
                    font-size: 36pt;
                    line-height: 110%;
                }
                h3 {
                    padding: 0px 30px 30px 30px;
                    font-size: 18pt;
                    line-height: 110%;
                }
                p {
                    font-size: 14pt;
                }
                p.description {
                    font-weight: 600;
                }
                li {
                    font-size: 12pt;
                }
            }
        }
    }

    #screen {
        .well p {
            font-size: 14px;
            margin: 0px;
        }
    }
}

#chart {
    margin: 40px auto 30px auto;
    width: 1002px;
    height: 802px;
}

#ui-toolbar {
    position: fixed;
    right: 20px;
    bottom: 10px;
    background-color: rgba(0, 0, 0, 0.85);
    a, a:visited {
        font-family: @basefont;
        font-size: 12pt;
        display: block;
        float: left;
        margin: 10px 17px 10px 17px;
        text-decoration: none;
        color: #999;
    }
    a:hover {
        color: #fff;
    }
}

.sidebar-nav {
    padding: 9px 0;
}

.clear {
    clear: both;
}

.textListWindow {
    margin-top: 20px;
    overflow: auto;
    height: 300px;
}

.edit-background {
    padding: 15px;
    background-color: #efefef;
}

html#slideshow {
    background-color: #000;
}

#spinner {
    display: none;
    margin: 10px 0px 10px 0px;
}

// Background Image
#background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.bgheight {
    height: 100%;
    width: auto;
    max-width: none;
}

.bgwidth {
    width: 100%;
    height: auto;
    max-height: none;
}