@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Crimson+Text:400,400i,600,600i');
@media screen and (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
html,
html a {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
html {
  background-color: #333b45;
}
body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.5px;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  width: 100%;
  background-color: transparent;
  padding-bottom: 100px;
}
@media (max-width: 991px) {
  body .container {
    padding: 10px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 140%;
  color: #333;
  margin: 0;
}
h1 mark,
h2 mark,
h3 mark,
h4 mark,
h5 mark,
h6 mark {
  padding: 0;
  margin: 0;
}
h1 mark i,
h2 mark i,
h3 mark i,
h4 mark i,
h5 mark i,
h6 mark i {
  font-weight: 300;
  font-style: normal;
  color: #fff;
  background-color: #999;
  margin: 0;
  padding: 3px 6px;
  letter-spacing: 3px;
}
th {
  background-color: #efefef;
}
/* FORMS */
textarea {
  resize: vertical;
}
input.form-control,
textarea.form-control {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 22px;
}
blockquote {
  font-family: "Crimson Text", Georgia, serif;
  font-size: 30px;
  font-weight: 400;
  font-style: italic;
  line-height: 140%;
  padding: 20px 20px 20px 30px;
  border-left-color: #efefef;
  border-left-style: solid;
  border-left-width: 5px;
  background-color: #f7f7f7;
  margin: 20px 0 20px 0;
}
iframe {
  border: 0;
}
.map-widget,
.map-container {
  width: 100%;
  height: 600px;
  padding: 0px;
  display: block;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .map-widget,
  .map-container {
    height: 400px;
  }
}
@media (max-width: 991px) {
  .map-widget,
  .map-container {
    height: 300px;
  }
}
#map-canvas {
  width: 100%;
  height: 500px;
  padding: 0px;
  display: block;
}
#map-canvas h3 {
  font-size: 15px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  #map-canvas {
    height: 400px;
  }
}
@media (max-width: 991px) {
  #map-canvas {
    height: 275px;
  }
}
#map-canvas .info {
  margin: 3px;
}
#map-canvas .info p {
  margin: 0px;
  padding: 0px;
  font-weight: 600;
}
#map-canvas.tall {
  height: 700px;
}
#lat,
#lng {
  font-weight: 600;
  font-size: 14px;
}
#geocode {
  background-color: #fff;
  margin: 0px;
  padding: 0px 0px 10px 0px;
}
#geocode .form-group {
  margin: 15px;
}
#notes {
  margin-bottom: 20px;
}
#notes h2 {
  font-size: 18px;
  font-weight: 400;
}
#notes p {
  font-size: 15px;
  font-weight: 300;
}
#notes #filter-form label {
  padding: 0px 20px 0px 7px;
}
#info {
  font-size: 14px;
}
#info img.adp-marker {
  margin: 5px;
}
#info .adp {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif !important;
}
#info .adp table {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif !important;
}
#info .adp .adp-text {
  font-size: 16px;
  font-weight: 400;
  padding: 5px;
}
#info .adp .adp-summary {
  font-size: 18px;
  background-color: #fafaa7;
  padding: 15px;
}
#info .adp .adp-legal {
  font-size: 10px;
}
@media (max-width: 991px) {
  #filter-form input[type=checkbox] {
    clear: both;
    display: block;
    width: 20px;
    float: left;
  }
  #filter-form label {
    display: block;
    float: left;
    font-size: 14px;
    height: 20px;
  }
}
