@media screen and (max-width: 767px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (max-width: 767px) {
}/* NAVIGATION */
.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
}
.navbar.navbar-inverse.navbar-fixed-top {
  margin: 0px;
}
.navbar-brand,
.navbar-nav,
.dropdown-menu {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.navbar-brand {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand {
  color: #ccc;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-brand:hover {
  color: #fff;
}
