@import (reference) "global.less";

#content ul.dropdown-menu li {
  list-style: none;
}

#search-term {
  color: @color-search-term;
  border: 8px solid @color-faint-gray;
  padding: 10px 15px;
  width: 100%;
  font-family: @basefont;
  font-size: @basefont-size-normal;
  font-weight: @basefont-weight-semibold;
  &:focus {
    box-shadow: inset 0 0 5px @color-medium-gray;
    outline-style: none;
  }
}

.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.table.editor-form {
  font-family: @textfont;
  font-size: @textfont-size-normal;
}

.editor-form {
  margin-top: 30px;
  .label {
    font-size: @basefont-size-small;
  }
}

.editor-section {
  border: 1px solid @color-faded-gray;
  padding: @standard-padding;
  margin-bottom: @vertical-gutter;
}

.modal .modal-dialog {
  font-family: @basefont;
  font-weight: @basefont-weight-semibold;
}

.editor-rte {
  border: none;
  display: block;
  height: 100%;
  .btn-group {
    margin: 5px 0;
  }
  .ta-editor.form-control {
    font-family: @textfont;
    font-size: @textfont-size-normal;
    font-weight: @textfont-weight-regular;
    max-height: 500px;
    margin-top: 5px;
  }
}

.rich-text {
  width: 100%;
  clear: both;
  display: block;
}