@media screen and (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
#content ul.dropdown-menu li {
  list-style: none;
}
#search-term {
  color: #428bca;
  border: 8px solid #eeeeee;
  padding: 10px 15px;
  width: 100%;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: 600;
}
#search-term:focus {
  box-shadow: inset 0 0 5px #666;
  outline-style: none;
}
.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.table.editor-form {
  font-family: "Crimson Text", Georgia, serif;
  font-size: 20px;
}
.editor-form {
  margin-top: 30px;
}
.editor-form .label {
  font-size: 16px;
}
.editor-section {
  border: 1px solid #dddddd;
  padding: 20px;
  margin-bottom: 20px;
}
.modal .modal-dialog {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 600;
}
.editor-rte {
  border: none;
  display: block;
  height: 100%;
}
.editor-rte .btn-group {
  margin: 5px 0;
}
.editor-rte .ta-editor.form-control {
  font-family: "Crimson Text", Georgia, serif;
  font-size: 20px;
  font-weight: 400;
  max-height: 500px;
  margin-top: 5px;
}
.rich-text {
  width: 100%;
  clear: both;
  display: block;
}
