@import (reference) "global.less";

.editor-form {
  margin-top: 30px;
  .btn, .control-label, .form-control, .label {
    font-family: @basefont;
    font-weight: @basefont-weight-semibold;
  }
}

.editor-section {
  border: 1px solid @color-faded-gray;
  padding: @standard-padding;
  margin-bottom: @vertical-gutter;
}

.modal .modal-dialog {
  font-family: @basefont;
  font-weight: @basefont-weight-semibold;
}

.editor-rte {
  border: none;
  display: block;
  height: 100%;
  .btn-group {
    margin: 5px 0;
  }
  .ta-editor.form-control {
    font-family: @textfont;
    font-size: @textfont-size-normal;
    font-weight: @textfont-weight-regular;
    max-height: 500px;
    margin-top: 5px;
  }
}

