@media screen and (max-width: 767px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (max-width: 767px) {
}.editor-form {
  margin-top: 30px;
}
.editor-form .btn,
.editor-form .control-label,
.editor-form .form-control,
.editor-form .label {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 600;
}
.editor-section {
  border: 1px solid #dddddd;
  padding: 20px;
  margin-bottom: 20px;
}
