@import (reference) "global.less";

#stream {
    background-color: #333333;
    padding: 0px;

    @media only screen and (min-width: @screen-xs-max) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        flex-basis: auto;
    }

    .media {
        width: 100%;
        padding: 0px;
        background-color: #fff;
        margin: 2px 0px 0px 0px;
        @media only screen and (min-width: @screen-xs-max) {
            margin: 0px 0px 2px 2px;
            width: 24.5%;
        }
        /*
        @media only screen and (max-width: @screen-xs-max) and (orientation:landscape) {
            background-color: #ff0000;
            display: block;
        }
        */
        .instagram {
            width: 100%;
            height: auto;
            max-width: 100%;
            max-height: 100%;
        }
        .caption {
            padding: 25px 15px 20px 15px;
            h2 {
                font-size: 18px;
                line-height: 120%;
                padding-top: 10px;
                padding-bottom: 10px;
                a, a:hover {
                    text-decoration: none;
                }
            }
            .vimeo {
                margin-top: 20px;
            }
        }
        a, a:hover {
            text-decoration: none;
        }
    }
}

.when {
    font-size: 16px;
    color: #999;
    margin-left: 10px;
    margin-right: 5px;
}

.handle {
    font-size: 16px;
}

.permalink, .permalink:hover {
    clear: both;
    display: block;
    font-size: 16px;
    text-decoration: none;
}
