.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.form-horizontal .form-group-sm .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.form-horizontal .form-group-lg .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
#stream {
  background-color: #333333;
}
@media (min-width: 767px) {
  #stream {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-basis: auto;
  }
}
#stream .media {
  width: 100%;
  padding: 0px;
  background-color: #fff;
  margin: 2px 0px 0px 0px;
}
@media (min-width: 767px) {
  #stream .media {
    margin: 0px 0px 2px 2px;
    width: 24.5%;
    background-color: #efefef;
  }
}
#stream .media .instagram {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
#stream .media .caption {
  padding: 25px 15px 20px 15px;
}
#stream .media .caption h2 {
  font-size: 18px;
  line-height: 120%;
  padding-top: 10px;
  padding-bottom: 10px;
}
#stream .media .caption h2 a,
#stream .media .caption h2 a:hover {
  text-decoration: none;
}
#stream .media .caption .vimeo {
  margin-top: 20px;
}
#stream .media .caption.twitter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
@media only screen and (max-device-width: 480px) {
  #stream .media .caption.twitter {
    top: auto;
    transform: translateY(0%);
  }
}
#stream .media a,
#stream .media a:hover {
  text-decoration: none;
}
.when {
  font-size: 16px;
  color: #999;
  margin-left: 10px;
  margin-right: 5px;
}
.handle {
  font-size: 16px;
}
.permalink,
.permalink:hover {
  clear: both;
  display: block;
  font-size: 16px;
  text-decoration: none;
}
