<div class="form-group">
  <div class="col-sm-12">
      <label for="name" class="control-label">Name</label>
      <input type="text" ng-model="page.name" class="form-control" id="name"/>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-12">
      <label for="title" class="control-label">Title</label>
      <input type="text" ng-model="page.title" class="form-control" id="title"/>
  </div>
</div>
<div class="form-group">
    <div class="col-sm-12">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="item in page.content">
                <button type="button" class="btn btn-sm btn-danger"
                        ng-click="deleteItem($event, $index)"><span class="glyphicon glyphicon-minus"></span></button>
                {{item.type}}
            </li>
        </ul>

        <a class="btn btn-default" ng-click="addBanner(page)">Add Banner</a>
        <a class="btn btn-default" ng-click="addRichText(page)">Add RichText</a>
    </div>
    <div class="col-sm-12">
        <label for="body" class="control-label">Body</label>
        <textarea data-ng-model="page.body"
                  data-ck-editor class="form-control" id="body">
        </textarea>
    </div>
</div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Description
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <textarea data-ng-model="page.description" class="form-control" id="description"></textarea>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    Keywords
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                <textarea data-ng-model="page.keywords" class="form-control" id="keywords"></textarea>
            </div>
        </div>
    </div>
</div>


<div class="form-group">
  <div class="col-sm-12">
    <a ui-sref="listPages" class="btn btn-default">Back to List</a>
    <a class="btn btn-default" ng-click="deletePage(page)">Delete</a>
    <input type="submit" class="btn btn-primary" value="Save"/>
  </div>
</div>

<script type="text/ng-template" id="deleteModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Delete this page?</h3>
    </div>
    <div class="modal-body">
        <h2>{{page.name}}</h2>
        <p>{{page.title}}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="addBanner.html">
    <div class="modal-header">
        <h3 class="modal-title">Banner</h3>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="addRichText.html">
    <div class="modal-header">
        <h3 class="modal-title">RichText</h3>
    </div>
    <div class="modal-body">
        <label for="rich_text" class="control-label">Rich Text</label>
        <textarea data-ng-model="rich_text"
                  data-ck-editor class="form-control" id="rich_text">
        </textarea>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

