.modal-header
    h3.modal-title RichText
.modal-body
    textarea#rich_text.form-control(data-ng-model='rich_text', data-ck-editor='')
.modal-footer
    button.btn.btn-primary(ng-click='ok()') OK
    button.btn.btn-warning(ng-click='cancel()') Cancel
