.modal-header
  h3.modal-title Component
.modal-body

  .btn-group(dropdown='')
    button.btn.btn-default(type='button') Type
    button.btn.btn-default.dropdown-toggle(type='button', dropdown-toggle='', on-toggle)
      span.caret
      span.sr-only Split button!
    ul.dropdown-menu(role='menu')
      li
        a(ng-click='toggleDropdown("/jade/pages/form-image")') Image
      li
        a(ng-click='toggleDropdown("/jade/pages/form-youtube")') Youtube Video
      li.divider
      li
        a(ng-click='toggleDropdown("/jade/pages/form-alert")') Alert

  div(ng-include="subform")


.modal-footer
  button.btn.btn-primary(ng-click='ok()') OK
  button.btn.btn-warning(ng-click='cancel()') Cancel