.modal-header
    h3.modal-title Delete this page?
.modal-body
    h2 {{page.name}}
    p {{page.title}}
.modal-footer
    button.btn.btn-primary(ng-click='ok()') OK
    button.btn.btn-warning(ng-click='cancel()') Cancel
