.modal-header
  h3.modal-title Component &nbsp;&nbsp;
    .btn-group(dropdown='')
      button.btn.btn-default(type='button') {{componentName||'Choose'}}
      button.btn.btn-default.dropdown-toggle(type='button', dropdown-toggle='', on-toggle)
        span.caret
        span.sr-only Split button!
      ul.dropdown-menu(role='menu')
        li(ng-repeat="item in menuItems")
          a(ng-click='toggleDropdown(item)') {{item.name}}

.modal-body
  div(ng-include="subform")

.modal-footer
  button.btn.btn-primary(ng-click='ok()') OK
  button.btn.btn-warning(ng-click='cancel()') Cancel