.modal-header
  h3.modal-title Excerpt &nbsp;&nbsp;

.modal-body
  textarea#excerpt.form-control(data-ng-model='page.excerpt', data-ck-editor='')

.modal-footer
  button.btn.btn-primary(ng-click='ok()') OK
  button.btn.btn-warning(ng-click='cancel()') Cancel