label.control-label(for='div_id') div id
input#div_id.form-control(type='text',ng-model='component.divId')
label.control-label(for='map_id') map id
input#map_id.form-control(type='text',ng-model='component.mapId')
input(type='hidden', name='component_type',value='map')