input(type='hidden', name='component_type', value='pdf_link')
label.control-label PDF Link
input.form-control(type='text', ng-model='component.url')
label.control-label Text
input.form-control(type='text', ng-model='component.content')
label.control-label Caption
input.form-control(type='text', ng-model='component.caption')