label.control-label(for='mp4_url') MP4 Video URL
input#mp4_url.form-control(type='text', ng-model='component.url')
label.control-label(for='mp4_image') Poster Image
input#mp4_image.form-control(type='text', ng-model='component.image')
input(type='hidden', name='component_type', value='mp4_video')
