.jumbotron
  h1 Pages
  p A Simple CMS in Angular.js

table.table.editor-form
  tr
    td
      h3 All Pages
    td
    td(align='right')
      a.btn.btn-primary(ui-sref='addPage') New Page
  tr(ng-repeat='page in pages')
    td
      a(href='/page/{{page.name}}', title='Published View', target='_blank') {{page.name}}
    td {{page.title}}
    td(align='right')
      span.label(ng-class='{"label-success": (page.status=="published"),"label-warning": (page.status=="archived"),"label-default": (page.status=="draft")}') {{page.status}}
      | &nbsp;&nbsp;
      a.btn.btn-default(ui-sref="editPage({id:page._id})") Edit
