.form-group
  a.btn.btn-default(ui-sref='listPages') &laquo; Back to List
  | &nbsp;
  a.btn.btn-danger(ng-click='deletePage(page)') Delete
  | &nbsp;
  input.btn.btn-primary(type='submit', value='Save')
  | &nbsp;
  a.btn.btn-info(href='/page/{{page.name}}', target='_blank') Preview &raquo;

.form-group
  label.control-label Layout &nbsp;
  .btn-group(dropdown='')
    button.btn.btn-default(type='button') {{layoutName||'Choose Layout'}}
    button.btn.btn-default.dropdown-toggle(type='button', dropdown-toggle='', on-toggle)
      span.caret
      span.sr-only Split button!
    ul.dropdown-menu(role='menu')
      li(ng-repeat="item in layoutOptions")
        a(ng-click='toggleLayoutDropdown(item)') {{item.name}}

.form-group
  label.control-label Status &nbsp;
  .btn-group
    label.btn.btn-primary(ng-model='page.status', ng-change='updateStatus()', btn-radio="'draft'") draft
    label.btn.btn-primary(ng-model='page.status', ng-change='updateStatus()', btn-radio="'published'") published
    label.btn.btn-primary(ng-model='page.status', ng-change='updateStatus()', btn-radio="'archived'") archived

hr

.form-group
  label.control-label(for='title') Title
  input#title.form-control(type='text', ng-model='page.title')

.form-group
  label.control-label(for='name') Name
  input#name.form-control(type='text', ng-model='page.name')

.form-group
  label.control-label(for='image') Image
  input#image.form-control(type='text', ng-model='page.image')

.form-group
  label.control-label(for='body') Excerpt &nbsp;
  a.btn.btn-default(type='button', ng-click='editExcerpt(page)')
    span.glyphicon.glyphicon-pencil
  .excerpt(ng-bind-html="page.excerpt|trusted")

.form-group
  label.control-label(for='description') Description
  textarea#description.form-control(data-ng-model='page.description')
  label.control-label(for='keywords') Keywords
  textarea#keywords.form-control(data-ng-model='page.keywords')

.form-group
  a.btn.btn-default(ng-click='addComponent(page)')
    span.glyphicon.glyphicon-plus
    | &nbsp; Add Component
  | &nbsp;
  a.btn.btn-default(ng-click='addRichText(page)')
    span.glyphicon.glyphicon-pencil
    | &nbsp; Add Rich Text

.form-group(ng-repeat='item in page.content')
  .editor-section
    button.btn.btn-sm.btn-default(type='button', ng-click='deleteComponent($event, $index)')
      span.glyphicon.glyphicon-remove
    | &nbsp;&nbsp;
    a.btn.btn-sm.btn-default(type='button', ng-click='editComponent(page, $index)')
      span.glyphicon.glyphicon-wrench
    | &nbsp;
    span.section &nbsp; {{$index}} {{getComponentName(item.type)}}
    .rich_text(ng-bind-html="item.content|trusted")

  a.btn.btn-default(ng-click='addComponent(page, $index)')
    span.glyphicon.glyphicon-plus
    | &nbsp; Add Component
  | &nbsp;
  a.btn.btn-default(ng-click='addRichText(page, $index)')
    span.glyphicon.glyphicon-pencil
    | &nbsp; Add Rich Text

