
.form-group
  .col-sm-12
    label.control-label(for='name') Name
    input#name.form-control(type='text', ng-model='page.name')

.form-group
  .col-sm-12
    label.control-label(for='title') Title
    input#title.form-control(type='text', ng-model='page.title')

.form-group
  .col-sm-12
    label.control-label Status &nbsp;
      .btn-group
        label.btn.btn-primary(ng-model='page.status', ng-change='updateStatus()', btn-radio="'draft'") draft
        label.btn.btn-primary(ng-model='page.status', ng-change='updateStatus()', btn-radio="'published'") published
        label.btn.btn-primary(ng-model='page.status', ng-change='updateStatus()', btn-radio="'expired'") expired

.form-group
  .col-sm-12
    label.control-label(for='image') Image
    input#image.form-control(type='text', ng-model='page.image')

.form-group
  .col-sm-12
    label.control-label(for='body') Body
    textarea#body.form-control(data-ng-model='page.body', data-ck-editor='')

.form-group
  .col-sm-12
    .well
      label.control-label(for='description') Description
      textarea#description.form-control(data-ng-model='page.description')
      label.control-label(for='keywords') Keywords
      textarea#keywords.form-control(data-ng-model='page.keywords')

.form-group
  .col-sm-12
    a.btn.btn-default(ng-click='addComponent(page)')
      span.glyphicon.glyphicon-plus
      | &nbsp; Add Component
    | &nbsp;
    a.btn.btn-default(ng-click='addRichText(page)')
      span.glyphicon.glyphicon-pencil
      | &nbsp; Add Rich Text

.form-group
  ul.list-group
    li.list-group-item(ng-repeat='item in page.content')
      button.btn.btn-sm.btn-default(type='button', ng-click='deleteComponent($event, $index)')
        span.glyphicon.glyphicon-remove
      a.btn.btn-sm.btn-default(type='button', ng-click='editComponent(page, $index)')
        span.glyphicon.glyphicon-wrench
      span.section(data-value='{{item}}') &nbsp; {{item.type}}


.form-group
  .col-sm-12
    a.btn.btn-default(ui-sref='listPages') Back to List
    | &nbsp;
    a.btn.btn-default(ng-click='deletePage(page)') Delete
    | &nbsp;
    input.btn.btn-primary(type='submit', value='Save')
