h3 Create A New Location
form.editor-form(role='form')
  #map-container.map-container
  br
  .form-group
    a.btn.btn-default(ui-sref='maps') &laquo; Map List
    | &nbsp;
    a.btn.btn-default(ui-sref='locations') &laquo; Locations
    | &nbsp;
    a.btn.btn-primary(ng-click='addLocation()') Save Location

  include edit-location-form
