.jumbotron
  h1 Locations
  p A Geolocations Collection

table.table.editor-form
  tr(ng-repeat='loc in locations')
    td
       a(href='/location/{{loc._id}}', target='_blank') {{loc.name}}
    td {{loc.address}}
    td(align='right')
       a.btn.btn-default Edit