.form-group
  a.btn.btn-default(ui-sref='home') &laquo; Home
  | &nbsp;
  a.btn.btn-default(ui-sref='maps') &laquo; Map List
  | &nbsp;
  a.btn.btn-danger(ng-click='deleteMap(map)') Delete Map
  | &nbsp;
  input.btn.btn-primary(type='submit', value='Save Map')
  | &nbsp;
  a.btn.btn-info(ng-click='addMarker()') Add Marker

.form-group
  label.control-label(for='name') Map Name
  input#name.form-control(type='text', data-ng-model='map.name', placeholder='Give this map a name.')

.form-group
  label.control-label(for='description') Description
  #description.editor-rte.form-control(data-ng-model='map.description', placeholder='Tell a story about this map.',text-angular)
